## Bouwen van een Decision Tree
Doe het volgende:
- Laad de Titanic Data set;
- Bepaal (op het oog) de belangrijkste 3 variabelen waarmee je zou kunnen bepalen of iemand overleeft;
- Implementeer de Entropy-formule van hierboven, en bepaal de Entropy van elk van deze drie variabelen.

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load Titanic Data set
dataset = pd.read_csv('titanic.csv', sep='\t')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Determine best classification variables for Survival
dataset[['Age','Fare','Sex']]

      Age     Fare     Sex
0    22.0   7.2500    male
1    38.0  71.2833  female
2    26.0   7.9250  female
3    35.0  53.1000  female
4    35.0   8.0500    male
..    ...      ...     ...
151  22.0  66.6000  female
152  55.5   8.0500    male
153  40.5  14.5000    male
154   NaN   7.3125    male
155  51.0  61.3792    male

[156 rows x 3 columns]

In [4]:
# Implement Entropy

# totaal aantal datapunten (100)
# totaal bv. positief (30) = 30/100 = 3/10
# totaal bv. negatief (70) = 70/100 = 7/10
# -3/10 x log2(3/10) - 7/10 x log2(7/100) = 0.88 dit is een hoge entropy omdat het gemeten wordt van 0 tot 1. 

def entropy(total,a,b):
    formule = -(a/total * np.log2(a/total)) - (b/total * np.log2(b/total))
    return formule

In [30]:
# Calculate and show Entropy of selected variables

# survived = dataset.loc[dataset['Survived'] == 1]
# not_survived = dataset.loc[dataset['Survived'] == 0]

# survived_count = survived['Survived'].count()
# not_survived_count = not_survived['Survived'].count()
# totaal = dataset['Survived'].count()

In [39]:
female_survivers = dataset[(dataset.Sex == 'female') | (dataset.Survived == 1)]
male_survivers = dataset[(dataset.Sex == 'male') | (dataset.Survived == 1)]

total_female_survivers = len(female_survivers)
total_male_survivers = len(male_survivers)

#--------------------------------------------------------------------------------
female_dead = dataset[(dataset.Sex == 'female') | (dataset.Survived == 0)]
male_dead = dataset[(dataset.Sex == 'male') | (dataset.Survived == 0)]

total_female_dead = len(female_dead)
total_male_dead= len(male_dead)

#--------------------------------------------------------------------------------
all_female = total_female_survivers + total_male_survivers
all_male = total_male_survivers + total_male_dead

In [40]:
print("Entropy variables female and survival: {}".format(entropy(all_female,total_female_survivers,total_female_dead)))

print("Entropy variables male and survival: {}".format(entropy(all_male,total_male_survivers,total_male_dead)))

Entropy variables female and survival: 0.9100292742352643
Entropy variables male and survival: 0.9936507116910404

In [56]:
# females that died who payed >20k fare 
# int_df = dataset["Fare"].astype(int)

# female_dead_fare = dataset[(dataset.Sex == 'female') | (dataset.Survived == 0) | (dataset.Fare >= 40)]

In [6]:
# Bouw een decision tree (https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)
# Kiest je sklearn model ook voor dezelfde root-variabele?